<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'reports' %}active{% endif %}" href="{{ url_for('reports') }}">View/Edit Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'create_report' %}active{% endif %}" href="{{ url_for('create_report') }}">Create Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'map' %}active{% endif %}" href="{{ url_for('map') }}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}" href="{{ url_for('settings') }}">Settings</a>
                </li>

                {% if session['user_type'] == 0 %}
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'logs' %}active{% endif %}" href="{{ url_for('logs') }}">View Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'users' %}active{% endif %}" href="{{ url_for('users') }}">View Users</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
